#card {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 2%;
	inner-border: 5px solid yellow;
}

#title {
	width: 100%;

}

#stats {

}

html body {
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	overflow-x: hidden;
	position: fixed;
	margin: 0;
	height: 100%;
	width: 100%;
}
